@import url(header.css);
@import url(footer.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

@media screen and(min-width: 768px){
    
}
@media screen and(min-width: 1024px){

}