<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>WebbingNow</title>
</head>
<body>
    <header>
        <picture>
            <a title="Home page" href="/"> <img src="/img/Logo.jpeg" alt=""></a>
        </picture>
        <section>
            <nav>
                <ul>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Crea tu cuenta</a></li>
                </ul>
            </nav>
        </section>
    </header>
    
    <main>

    </main>
    
    <footer>
        <section>
            <h2>WebbingNow</h2>  
                <article>
                    <ul>
                        <li><a title="¿Quienes somos?" href="#">¿Quienes somos?</a></li>
                        <li><a title="Contactos" href="#">Contactos</a></li>
                        <li><a title="FAQ" href="#">FAQ</a></li>
                    </ul>                    
                </article>
        </section>
        <section>
            <h2>Seguinos</h2>
                <article>
                    <ul>
                        <li><a title="Facebook" href="#">Facebook</a></li>
                        <li><a title="Twitter" href="#">Twitter</a></li>
                        <li><a title="Instagram" href="#">Instagram</a></li>
                    </ul>                    
                </article>
        </section>
        <section>
            <h2>Idiomas</h2>
                <article>
                    <ul>
                        <li><a title="Español" href="#">Español</a></li>
                        <li><a title="Ingles" href="#">Ingles</a></li>
                    </ul>                    
                </article>
        </section>
        <p>2022 WebbingNow Copyright</p>
    </footer>
</body>
</html>